<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/moviesession?serverTimezone=UTC</property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.username">root</property>
        <property name="connection.password">V11M07k2001mm</property>
        <property name="show_sql">true</property>
        <property name="hbm2ddl.auto">create-drop</property>

        <mapping class="moviesession.model.CinemaHall"/>
        <mapping class="moviesession.model.Movie"/>
        <mapping class="moviesession.model.MovieSession"/>
        <mapping class="moviesession.model.Order"/>
        <mapping class="moviesession.model.ShoppingCart"/>
        <mapping class="moviesession.model.Ticket"/>
        <mapping class="moviesession.model.User"/>
    </session-factory>
</hibernate-configuration>
